@font-face {
  font-family: 'open sans regular';
  src: url('../fonts/OpenSans-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'open sans bold';
  src: url('../fonts/OpenSans-Bold.woff');
  font-weight: 800;
  font-style: bold;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'open sans regular', arial, sans-serif;
}

.header {
  position: relative;
  color: white;
  background-image: url('../images/football_767.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
  background-color: #000000;
	text-align: center;
	padding-top: 33px;
	padding-left: 15px;
	padding-right: 15px;
  padding-bottom: 83px;
}

.header::after {
  content: '';
  position: absolute;
  background-color: #0a0e34;
  opacity: 0.9;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.header-wrapper {
  position: relative;
  z-index: 2;
}

.surface-logo-text {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slogan-container {
  margin-top: 137px;
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'open sans bold';
	text-transform: uppercase;
	text-align: left;
}

.slogan {
  font-size: 28px;
}

.slogan-two {
	margin-left: 44px;
}

.buttons-app {
	margin-top: 85px;
	width: 100%;
	
}

.button-get-the-app {
	display: flex;
	align-items: center;
	background-color: #5e42b0;
	width: 100%;
	border-radius: 50px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-decoration: none;
	color: white;
	font-size: 8px;
	text-transform: uppercase;
} 

.button-get-the-app:not(:last-child) {
	margin-bottom: 13px;
}

.icon {
  display: block;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
	background-size: contain;
  margin-right: 9px;
  margin-left: 30%;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.apple {
	background-image: url("../svg/apple_logo_white.svg");
}

.google {
	background-image: url("../svg/google-play-white.svg");
}

.download-text {
	display: block;
	text-align: left;
}

.icon-text-bold {
	font-family: 'open sans bold';
}




/*--------------------------section-athlets-----------------------------*/
.athlets-picblock {
  height: 235px;
  width: 100%;
}

.athlets-picblock-pic {
  margin-left: auto;
  margin-right: auto;
  transform: translateY(10px);
  background-image: url('../images/footballer_192.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 281px;
  width: 192px;
}

.section-block {
  background-color: #fafafa;
  padding-top: 80px;
  padding-bottom: 50px;

}

/* .athlets {
  position: relative;
  transform: translateY(-50px);
  z-index: -1;
} */

.section-h2 {
  color: #e7e7e7;
  font-size: 60px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-left: 20px;
}

.section-article {
  display: flex;
  margin-left: 20px;
}

.collaboration {
  background-color: #f5f4f9;
}

.growth {
  background-color: #5e42b0;
}

.section-article-number {
  font-family: 'open sans bold';
  font-size: 14px;
  color: #000000;
  transform: translateY(3px);
}

.section-article-number::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #5e42b0;
}

.section-article-number-white {
  font-family: 'open sans bold';
  font-size: 14px;
  color: #000000;
  transform: translateY(3px);
}

.section-article-number-white::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: white;
}

.section-article-name {
  font-family: 'open sans bold';
  text-transform: uppercase;
  font-size: 23px;
  color: #c1c1c1;
  margin-left: 8px;
}

.section-article-content-text {
  margin-top: 30px;
  margin-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-family: 'open sans bold';
}

.white {
  color: white;
}



@media (min-width: 641px) {
  .header{
    background-image: url('../images/football_1280.jpg');
    padding-left: 54px;
    padding-right: 54px;
  }

  .surface-logo-text {
    width: 205px;
    height: auto;
  }

  .slogan-container {
    width: 600px;
  }

  .slogan {
    font-size: 64px;
  }

  .slogan-two {
    margin-left: 95px;
  }

  .buttons-app {
    display: flex;
  }

  .icon {
    width: 36px;
    height: 36px;
    margin-right: 28px;
    margin-left: 20%;
  }

  .buttons-app {
    margin-top: 300px;
  }

  .button-get-the-app {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .button-get-the-app:not(:last-child) {
    margin-bottom: 0;
    margin-right: 30px;
  }

  .download-text {
    font-size: 14px;
  }

  /*--------------------------section-athlets-----------------------------*/
  .section-article {
    margin-left: 0;
  }

  .section-h2 {
    margin-left: 38%;
    margin-top: 70px;
    font-size: 80px;
  }

  .section-block {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .connection {
    background-color: #fff;
  }

  .section-article-name {
    font-size: 32px;
  }

  .section-article-number {
    margin-left: 38%;
    font-size: 18px;
    transform: translateY(5px);
  }

  .section-article-number-white {
    margin-left: 38%;
    font-size: 18px;
  }

  .section-article-content {
    margin-left: 38%;
  }

  .section-article-content-text {
    margin-left: 0;
    font-size: 16px;
    line-height: 28px;
  }

  .athlets-picblock {
    margin-left: 38%;
    height: 0px;
    width: 0px;
    position: relative;
  }

  .athlets-picblock-pic {
    position: absolute;
    /* transform: translate(-300px, 0px); */
    top: -80px;
    left: -450px;

    background-image: url('../images/footballer_566.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 699px;
    width: 497px;
  }


}







@media (min-width: 961px) {
  .header{
    background-image: url('../images/football_1920.jpg');
    padding-bottom: 110px;
  }

  .surface-logo-text {
    width: 191px;
    height: auto;
  }

  .slogan-container {
    width: 90%;
  }

  .slogan {
    font-size: 90px;
  }

  .slogan-two {
    margin-left: 25%;
  }

  .buttons-app {
    display: flex;
    justify-content: center;
  }

  .icon {
    width: 41px;
    height: 41px;
    margin-right: 28px;
    margin-left: 20%;
  }

  .button-get-the-app {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 310px;
  }

  .button-get-the-app:not(:last-child) {
    margin-bottom: 0;
    margin-right: 52px;
  }

  .download-text {
    font-size: 14px;
  }



  /*--------------------------section-athlets-----------------------------*/
  .slogan, .slogan-two {
    line-height: 100px;
  }

  .athlets-picblock {
    margin-left: 52%;
  }

  .athlets-picblock-pic {
    top: -200px;
    left: -620px;
    width: 566px;
    height: 908px;
  }

  .section-h2 {
    margin-left: 52%;
    margin-top: 100px;
    margin-bottom: 10px;
  }

  .section-article-number {
    margin-left: 52%;
    transform: translateY(8px);
  }

  .section-article-number-white {
    margin-left: 52%;
    transform: translateY(8px);
  }

  .section-article-name {
    font-size: 36px;
  }

  .section-article-content {
    margin-left: 52%;
  }

  .section-article-content-text {
    font-size: 20px;
  }
  

}

